<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title><%= @topic %> Notes</title>
	<meta name="description" content="Notes about <%= @topic %>" />
	<meta name="keywords" content="<%= @topic %>" />
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/notes.css" />
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-80575-13']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Notes</a>

          <ul class="nav">
            <li><a href="/">Topics</a></li>
            <li><a href="about">About</a></li>
            <li><a href="http://www.buildndeploy.com">Build &amp; Deploy</a></li>
          </ul>
			<% if (@topic) then %>
				<p class="pull-right"><a href="<%= @topic %>/source">View Markdown Source</a></p>
			<% end %>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
		<%= yield %>

		<% if (@topic) then %>
			<h2>Discussion</h2>
	
			<p>If you have a question or suggestion, please add a comment below.</p>
	
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    var disqus_shortname = 'bndnotes';
			    var disqus_identifier = '<%= @topic %>';
			    var disqus_url = 'http://notes.buildndeploy.com/<%= @topic %>';

			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		<% end %>
		</div>
	</div>

  </body>

</html>
